.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 13%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 19%
    right: 80%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.banner-interno__fondo
  background-image: url(../assets/curso/temas/banner_interno.svg) !important
